@import './_config.scss';

//===Card===
.card {
    width: 9rem;
    margin: 0 auto;
    padding-bottom: 1rem;
}

.card div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    p{
        text-align: center;
        margin: 0 .2rem;
        color: $gray;
    }
}

.card-img {
    margin-top: .2rem;
    width: 9rem;
    height: 13rem;
}

.card-btn__add{
    font-weight: bold;
    background-color: rgba(255, 68, 0, 0.771);
    cursor: pointer;
    border: none;
    text-align: center;
    width: 25px;
}

.card-btn__add:hover{
    background-color: orangered;
}

.card-btn__add:disabled{
    cursor: auto;
    background-color: transparent;
    border: 2px solid $gray;
}

.card-btn__decrement{
    border: none;
    width: 25px;
    cursor: pointer;
    background-color: $gray;
    color: black;
    font-weight: bold;
    text-align: center;
}

.card-btn__decrement:hover{
    background-color: gray;
    color: black;
    font-weight: bold;
    text-align: center;
}