//Resets
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
//Variables
$raisin-black: #1a1b25;
$pich-black: #101319;
$layout-black: #202632;
$gray:#8D8AA8;
$darkgray: #28282c95;
$marigold: #ec8600;
$tea-white: #CDEAC0;