@import './_config.scss';

//===Deck===
.deckview {
    z-index: 100;
    margin-top: 6vh;
    max-height: 77vh;
    min-width: 100%;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: 10px;
    background-color: $raisin-black;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

.cardsamount {
    text-align: center;
    color: $gray;
}

@media only screen and (min-width: 1480px) {
    .deckview {
        overflow-x: hidden;
    }
}

.decklist-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    border: 2px solid $gray;
    border-radius: 3px;
    margin-top: .3rem;
    max-width: 280px;
}

.decklist-item p{
    color: $gray;
    padding: .5rem 0;
    text-align: center;
    font-weight: bold;
    min-width: 28px;
    border-right: 2px solid $gray;
}

.decklist-item__image--container {
    max-height: 40px;
    min-width: 225px;
    overflow: hidden;
    border-left: 2px solid $gray;
    border-right: 2px solid $gray;
}

.add-btn{
    height: 21px;
    min-width: 24px;
    color: black;
    background-color: $btn-bg-color;
    font-weight: bold;
    text-align: center;
    border: none;
}

.add-btn:hover{
    background-color: $btn-hover-bg-color;
}

.remove-btn {
    height: 21px;
    min-width: 24px;
    background-color: transparent;
    color: $gray;
    font-weight: bold;
    text-align: center;
    border: none;
}

.remove-btn:hover {
    background-color: $gray;
    color: black;
}

.toggle-btn__deck{
    cursor: pointer;
    width: 40px;
    border-radius: 2px;
    border: transparent;
    background-color: $btn-bg-color;
}

.toggle-btn__deck:hover{
    background-color: $btn-hover-bg-color;
}

//===Save===

.save {
    width: 233px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-bottom: 2vh;
}

.save-btn {
    height: 25px;
    border-radius: 2px;
    background-color: $btn-bg-color;
    padding: 0 1.3em;
    cursor: pointer;
    border: none;
}

.save-btn:hover {
    background-color: $btn-hover-bg-color;
}

.save-deckname {
    max-height: 25px;
    padding-left: .4em;
    margin: 0;
}