@import './_config.scss';

//===Deck===
.deckview {
    max-height: 83vh;
    min-width: 22vw;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: 52px;
    background-color: $raisin-black;
    overflow: scroll;
    display: flex;
    flex-direction: column;

    p {
        color: $gray;
        padding: .5rem 0;
        text-align: center;
        font-weight: bold;
        min-width: 40px;
    }
}

.cardsamount {
    text-align: center;
    color: $gray;
}

@media only screen and (min-width: 1480px) {
    .deckview {
        overflow-x: hidden;
    }
}

.decklist-item {
    display: flex;
    flex-direction: row;
    border: 2px solid $gray;
    border-radius: 3px;
    margin-top: .3rem;
}

.decklist-item__image--container {
    max-height: 40px;
    min-width: 225px;
    overflow: hidden;
    width: 100%;
    border-left: 2px solid $gray;
    border-right: 2px solid $gray;
}

.remove-btn {
    height: 2.5rem;
    min-width: 40px;
    background-color: transparent;
    font-weight: bold;
    text-align: center;
    border: none;
}

.remove-btn:hover {
    background-color: $gray;
}