@import './config.scss';

.home{
    padding: 2rem;
    display: flex;
    flex-direction: row;
}

.newdeck {
    color: $pich-black;
    background-color: #c9170e;
    border: 2px solid black;
    color: $pich-black;
    min-width: 4rem;
    max-height: 4rem;
    padding-top: .55rem;
    cursor: pointer;
    text-align: center;
}

.newdeck:visited {
    color: $pich-black;
}


.newdeck:hover {
    background-color: red;
}

.deckitem {
    margin-left: 3rem;
    border: 2px solid $gray;
    max-height: 4rem;
    width: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.deckitem-name{
    text-align: center;
    color: $gray;
}

.deckitem-delete__btn{
    cursor: pointer;
    background-color: #c9170e;
    border: 2px solid brown;
    border-radius: 2px;
    height: 25px;
}

.deckitem-delete__btn:hover{
    background-color: red;
}