@import './config.scss';


.newdeck {
    color: $pich-black;
    background-color: #c9170e;
    border: 2px solid black;
    color: $pich-black;
    min-width: 4rem;
    max-height: 4rem;
    padding-top: .55rem;
    cursor: pointer;
    text-align: center;
}

.newdeck:visited {
    color: $pich-black;
}


.newdeck:hover {
    background-color: red;
}

.deckitem {
    border: 2px solid $gray;
    max-height: 4rem;
}

.deckitem-name{
    color: $gray;
}

.deckitem-delete__btn{
    cursor: pointer;
    background-color: #c9170e;
    border: 2px solid brown;
    border-radius: 2px;
}

.deckitem-delete__btn:hover{
    background-color: red;
}