@import './config.scss';

.home {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-y: scroll;
}

@media only screen and (max-width: 480px) {
    .home {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-auto-flow: row;
    }
}

.deckitem {
    margin-left: 3rem;
    padding: 15px 10px;
    background-color: $bg-color-primary;
    height: 170px;
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 3px 5px 3px rgba(0, 0, 0, 0.207);
}

.deckitem h3 {
    line-break: auto;
    user-select: none;
    text-align: left;
    color: $color-primary;
    word-wrap: break-word;
}

.deckitem p {
    text-align: left;
    color: $color-secondary;
}

.deckitem-btns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.deckitem-btns button:nth-child(1) {
    cursor: pointer;
    background-color: $btn-bg-color-secondary;
    border: none;
    border-top: 0;
    height: 25px;
    width: 70px;
}

.deckitem-btns button:nth-child(1):hover {
    background-color: $btn-hover-bg-color-secondary;
}

.deckitem-btns button:nth-child(2) {
    cursor: pointer;
    background-color: $btn-bg-color;
    border: none;
    height: 25px;
    width: 70px;
}

.deckitem-btns button:nth-child(2):hover {
    background-color: $btn-hover-bg-color;
}

.deckitem-colors {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    p {
        margin-right: .5em;
    }
}

.deckitem-colors span {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    margin: 0 2px;
}