@import './_config.scss';

//Mixins
@mixin loginform-btn {
    margin-top: 3rem;
    height: 2rem;
    padding: 0 .5rem;
    border: 2px solid $marigold;
    background-color: orange;
}

@mixin loginform-input {
    margin: 0 .3rem;
    margin-top: 2rem;
}

//Loginform
.signinform{
    @include flex-column-center;
    margin: 0 auto;
    margin-top: 30vh;
}

.signinform input{
    @include loginform-input
}

.signinform button{
    @include loginform-btn
}

.loginform{
    @include flex-column-center;
    margin: 0 auto;
    margin-top: 20vh;
    max-height: 300px;
    border: 2px solid $gray;
}

.loginform input{
    @include loginform-input
}

.loginform button{
    @include loginform-btn
}

.loginform p{
    text-align: center;
    margin-top: 3rem;
    width: 200px;
}