@import './_config.scss';

//===Search===


.search {
    position: absolute;
    height: 50px;
    padding-bottom: 3vh;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    background-color: $layout-black;
}

.searchform {
    max-width: 50vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

@media only screen and (max-width: 480px) {
    //
}

.find-btn {
    height: 25px;
    background-color: $btn-bg-color;
    border: none;
    border-radius: 2px;
    padding: 0 .5em;
    cursor: pointer;
}

.find-btn:hover {
    background-color: $btn-hover-bg-color;
}

form input {
    height: 25px;
    margin-right: 1.1rem;
}

.select {
    margin-right: 1rem;
}

//===Colors===
.container-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked~.checkmark {
    background-color: $marigold;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked~.checkmark:after {
    display: block;
}

.container-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: transparent;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}