@import './_config.scss';
@import './_home.scss';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}


header {
    width: 100%;
    min-height: 7vh;
    background-color: $layout-black;
    display: flex;
    justify-content: space-around;
}

.header-user{
    position: absolute;
    left: 0;
    margin-left: 3rem;
    padding-top: .6em;
}

.login-warn{
    text-align: left;
    position: absolute;
    right: 0;
    padding-top: .34em;
    margin-right: 7.5rem;
}

.login-btn {
    position: absolute;
    right: 0;
    margin: .5rem 0;
    margin-right: 2rem;
    padding: .5em 1em;
    background-color: orangered;
    border: 2px solid orangered;
    border-radius: 2px;
    cursor: pointer;
}

.login-btn:hover{
    border: 2px solid orange;
}

//===Search===
.save{
    width: 233px;
    display: flex;
    flex-direction: row;
    margin-right: 6vw;
}

.save-btn{
    height: 25px;
    border-radius: 2px;
    border: 2px solid orangered;
    background-color: orangered;
    padding: 0 1.3em;
}
.save-btn:hover{
    border: 2px solid $marigold;
}

.save-deckname{
    max-height: 25px;
    padding-left: .4em;
    margin: 0;
}

.search{
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: $layout-black;
}

.searchform{
    min-width: 50vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-left: 12vw;
}

.find-btn{
    height: 25px;
    background-color: orangered;
    border: 2px solid orangered;
    border-radius: 2px;
    padding: 0 .5em;
}

.find-btn:hover{
    border: 2px solid orange;
}

form input{
    height: 25px;
    margin-right: 1.1rem;
}

.select{
    margin-right: 1rem;
}

.main {
    display: flex;
    flex-direction: row;
    height: 90vh;
    width: 100%;
    background-color: $pich-black;
}

//===Cardsviewer===

.cardsviewer {
    padding-top: 4.6rem;
    height: 90vh;
    min-width: 78vw;
}

.swiper-wrapper {
    height: 100vh;
    padding-bottom: 1.2rem;
}

.swiper-slide {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-auto-flow: row;
    width: 100%;
    margin-bottom: 1rem;
}

/* target the active bullet */
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: orangered;
    opacity: 1;
  }
  
  /* target all bullets */
  .swiper-pagination-bullet {
    border: 1px solid orange;
    opacity: 1;
  }

@media only screen and (max-width: 800px) {
    .swiper-slide {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-auto-flow: row;
        gap: 0rem;
        width: 100%;
    }
}

@media only screen and (max-width: 580px) {
    .swiper-slide {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-auto-flow: row;
        gap: 0rem;
        width: 100%;
    }
}

//===Card===
.card {
    width: 8rem;
    margin: 0 auto;
    padding-bottom: 1rem;
}

.card-img {
    width: 9rem;
    height: 13rem;
}

.card-btn{
    padding: 0 .5em;
    font-weight: bold;
    background-color: orangered;
    border: 2px solid orangered;
    cursor: pointer;
}
.card-btn:hover{
    border: 2px solid orange;
}

//===Deck===
.deckview {
    max-height: 83vh;
    min-width: 22vw;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: 52px;
    background-color: $raisin-black;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    h3{
        text-align: center;
        color: $gray;
    }
    p{
        color: $gray;
        padding: .5rem 0;
        text-align: center;
        font-weight: bold;
        min-width: 40px;
    }
}

@media only screen and (min-width: 1480px) {
    .deckview{
        overflow-x: hidden;
    }
}

.decklist-item{
    display: flex;
    flex-direction: row;
    border: 2px solid $gray;
    border-radius: 3px;
    margin-top: .3rem;
}

.decklist-item__image--container{
    max-height: 38px;
    min-width: 225px;
    overflow: hidden;
    width: 100%;
    border-left: 2px solid $gray;
    border-right: 2px solid $gray;
}

.remove-btn{
    height: 2.5rem;
    min-width: 40px;
    border-radius: 1px;
    background-color: $gray;
    border: 2px solid wheat;
    font-weight: bold;
    text-align: center;
}

.remove-btn:hover{
    background-color: $darkgray;
    border-radius: 1px;
    border: 2px solid wheat;
}

//===Footer===

footer {
    width: 100%;
    min-height: 10vh;
    background-color: $layout-black;
    position: absolute;
    bottom: 0;
    div{
        padding-top: .9rem;
        text-align: center;
    }
}

footer a:visited{
    color: black;
}