* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  letter-spacing: 1px;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  letter-spacing: 1px;
}

html {
  scroll-behavior: smooth;
}

.home {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  width: 100%;
  overflow-y: scroll;
}

.login-warn {
  text-align: left;
  position: absolute;
  left: 0;
  padding-top: 0.34em;
  margin-left: 4rem;
  color: rgb(233, 233, 246);
}

@media only screen and (max-width: 480px) {
  .home {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-auto-flow: row;
    gap: 3rem;
  }
}
.deckitem {
  margin-left: 3rem;
  padding: 15px 10px;
  background-color: #1e1e1e;
  height: 170px;
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 1px 3px 5px 3px rgba(0, 0, 0, 0.207);
}

.deckitem h3 {
  line-break: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: left;
  color: #CDEAC0;
  word-wrap: break-word;
}

.deckitem p {
  text-align: left;
  color: #8D8AA8;
}

.deckitem-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.deckitem-btns button:nth-child(1) {
  cursor: pointer;
  background-color: #c9170e;
  border: none;
  border-top: 0;
  height: 25px;
  width: 70px;
}

.deckitem-btns button:nth-child(1):hover {
  background-color: red;
}

.deckitem-btns button:nth-child(2) {
  cursor: pointer;
  background-color: rgba(255, 68, 0, 0.792);
  border: none;
  height: 25px;
  width: 70px;
}

.deckitem-btns button:nth-child(2):hover {
  background-color: orangered;
}

.deckitem-colors {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.deckitem-colors p {
  margin-right: 0.5em;
}

.deckitem-colors span {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin: 0 2px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  letter-spacing: 1px;
}

html {
  scroll-behavior: smooth;
}

.signinform {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 20vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 2px solid #8D8AA8;
  color: wheat;
  padding: 2rem 0;
  border-radius: 2px;
  box-shadow: 1px 3px 5px 3px rgba(0, 0, 0, 0.207);
}

.signinform input {
  margin: 0.35rem 1.5rem 1rem 1.5rem;
  padding: 0 0.45em;
  width: 200px;
  font-weight: 400;
}

.signinform button {
  margin-top: 1rem;
  height: 2.4rem;
  width: 10rem;
  border: 2px solid orangered;
  background-color: orangered;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 400;
}

.signinform button:hover {
  border: 2px solid #ec8600;
}

.loginform {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 20vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 276px;
  border: 2px solid #8D8AA8;
  color: wheat;
  padding: 2rem 0;
  border-radius: 2px;
  box-shadow: 1px 3px 5px 3px rgba(0, 0, 0, 0.207);
  text-align: center;
}

.loginform input {
  margin: 0.35rem 1.5rem 1rem 1.5rem;
  padding: 0 0.45em;
  width: 200px;
  font-weight: 400;
}

.loginform button {
  margin-top: 1rem;
  height: 2.4rem;
  width: 10rem;
  border: 2px solid orangered;
  background-color: orangered;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 400;
}

.loginform button:hover {
  border: 2px solid #ec8600;
}

.loginform p {
  text-align: center;
  margin-top: 2.2rem;
  width: 200px;
}

.loginform p a:hover {
  color: white;
  transition: linear;
}

.loginform a:visited {
  color: wheat;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  letter-spacing: 1px;
}

html {
  scroll-behavior: smooth;
}

.search {
  position: absolute;
  height: 50px;
  padding-bottom: 3vh;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  background-color: #202632;
}

.searchform {
  max-width: 50vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.find-btn {
  height: 25px;
  background-color: rgba(255, 68, 0, 0.792);
  border: none;
  border-radius: 2px;
  padding: 0 0.5em;
  cursor: pointer;
}

.find-btn:hover {
  background-color: orangered;
}

form input {
  height: 25px;
  margin-right: 1.1rem;
}

.select {
  margin-right: 1rem;
}

.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
  background-color: #ec8600;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.container-checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: transparent;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  letter-spacing: 1px;
}

html {
  scroll-behavior: smooth;
}

.deckview {
  z-index: 100;
  margin-top: 3rem;
  max-height: 77vh;
  min-width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 10px;
  background-color: #1a1b25;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.cardsamount {
  text-align: center;
  color: #8D8AA8;
}

@media only screen and (min-width: 1480px) {
  .deckview {
    overflow-x: hidden;
  }
}
.decklist-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  border: 2px solid #8D8AA8;
  border-radius: 3px;
  margin-top: 0.3rem;
  max-width: 280px;
}

.decklist-item p {
  color: #8D8AA8;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: bold;
  min-width: 28px;
  border-right: 2px solid #8D8AA8;
}

.decklist-item__image--container {
  max-height: 40px;
  min-width: 225px;
  overflow: hidden;
  border-left: 2px solid #8D8AA8;
  border-right: 2px solid #8D8AA8;
}

.add-btn {
  height: 21px;
  min-width: 24px;
  color: black;
  background-color: rgba(255, 68, 0, 0.792);
  font-weight: bold;
  text-align: center;
  border: none;
}

.add-btn:hover {
  background-color: orangered;
}

.remove-btn {
  height: 21px;
  min-width: 24px;
  background-color: transparent;
  color: #8D8AA8;
  font-weight: bold;
  text-align: center;
  border: none;
}

.remove-btn:hover {
  background-color: #8D8AA8;
  color: black;
}

.toggle-btn__deck {
  cursor: pointer;
  width: 40px;
  border-radius: 2px;
  border: transparent;
  background-color: rgba(255, 68, 0, 0.792);
}

.toggle-btn__deck:hover {
  background-color: orangered;
}

.save {
  width: 233px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

.save-btn {
  height: 25px;
  border-radius: 2px;
  background-color: rgba(255, 68, 0, 0.792);
  padding: 0 1.3em;
  cursor: pointer;
  border: none;
}

.save-btn:hover {
  background-color: orangered;
}

.save-deckname {
  max-height: 25px;
  padding-left: 0.4em;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  letter-spacing: 1px;
}

html {
  scroll-behavior: smooth;
}

.card {
  width: 8rem;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.card div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.card div p {
  text-align: center;
  margin: 0 0.2rem;
  color: #8D8AA8;
}

.card-img {
  margin-top: 0.2rem;
  width: 9rem;
  height: 13rem;
}

.card-btn__add {
  font-weight: bold;
  background-color: rgba(255, 68, 0, 0.771);
  cursor: pointer;
  border: none;
  text-align: center;
  width: 25px;
}

.card-btn__add:hover {
  background-color: orangered;
}

.card-btn__add:disabled {
  cursor: auto;
  background-color: transparent;
  border: 2px solid #8D8AA8;
}

.card-btn__decrement {
  border: none;
  width: 25px;
  cursor: pointer;
  background-color: #8D8AA8;
  color: black;
  font-weight: bold;
  text-align: center;
}

.card-btn__decrement:hover {
  background-color: gray;
  color: black;
  font-weight: bold;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  letter-spacing: 1px;
}

html {
  scroll-behavior: smooth;
}

.toast-confirmdelete {
  display: flex;
  flex-direction: column;
}
.toast-confirmdelete div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 1rem;
}
.toast-confirmdelete div button:nth-child(1) {
  opacity: 1;
  background-color: gray;
  border: none;
  padding: 0.2em 0.3em;
}
.toast-confirmdelete div button:nth-child(1):hover {
  background-color: #8D8AA8;
}
.toast-confirmdelete div button:nth-child(2) {
  opacity: 1;
  background-color: #c9170e;
  border: none;
  padding: 0.2em 0.3em;
}
.toast-confirmdelete div button:nth-child(2):hover {
  background-color: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  letter-spacing: 1px;
}

html {
  scroll-behavior: smooth;
}

header {
  width: 100%;
  min-height: 8.5vh;
  background-color: #202632;
  display: flex;
  justify-content: space-around;
}

.newdeck {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0.9rem 0;
  margin-left: 1rem;
  text-align: center;
  background-color: rgba(255, 68, 0, 0.792);
  padding: 5px;
}

.newdeck:hover {
  background-color: orangered;
}

.newdeck:visited {
  color: black;
}

.login-btn {
  position: absolute;
  right: 0;
  margin: 0.9rem 0;
  margin-right: 1rem;
  padding: 0.5em 1em;
  background-color: rgba(255, 68, 0, 0.792);
  cursor: pointer;
  font-weight: 500;
  border: none;
}

.login-btn:visited {
  color: black;
}

.login-btn:hover {
  background-color: orangered;
}

.home-link {
  cursor: pointer;
  position: absolute;
  left: 0;
  height: 30px;
  margin: 0.9rem 0;
  margin-left: 1rem;
  padding: 0.35em 1em;
  text-align: center;
  background-color: rgba(255, 68, 0, 0.792);
}

.home-link:hover {
  background-color: orangered;
}

.home-link:visited {
  color: black;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 1rem;
  font-family: "Ibarra Real Nova", serif;
}

.main {
  display: flex;
  flex-direction: row;
  height: 90vh;
  width: 100%;
  background-color: #101319;
}

.toggle-btn__cardsview {
  cursor: pointer;
  width: 40px;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
  border: transparent;
  background-color: rgba(255, 68, 0, 0.792);
}

.toggle-btn__cardsview:hover {
  background-color: orangered;
}

.cardsviewer {
  padding-top: 3.5rem;
  height: 90vh;
  min-width: 100%;
}

.swiper-wrapper {
  height: 100vh;
  padding-bottom: 0.4rem;
}

.swiper-slide {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-auto-flow: row;
  width: 100%;
  margin-bottom: 1rem;
  gap: 0;
}

/* target the active bullet */
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: orangered;
  opacity: 1;
}

/* target all bullets */
.swiper-pagination-bullet {
  border: 1px solid orange;
  opacity: 1;
}

@media only screen and (max-width: 800px) {
  .swiper-slide {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-flow: row;
    gap: 0rem;
    width: 100%;
  }
}
@media only screen and (max-width: 580px) {
  .swiper-slide {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-flow: row;
    gap: 0rem;
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .swiper-slide {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
}
footer {
  width: 100%;
  min-height: 8.5vh;
  background-color: #202632;
  position: absolute;
  bottom: 0;
}
footer div {
  padding-top: 0.9rem;
  text-align: center;
}
footer p {
  color: rgb(233, 233, 246);
}

footer a:visited {
  color: rgb(233, 233, 246);
}

footer a:hover {
  color: white;
  transition: linear;
}/*# sourceMappingURL=main.css.map */